In [1]:
import os
from pathlib import Path
import pandas as pd

In [2]:
#insert DB schema
schema = ''

In [3]:
schema = 'travel_danger'

In [4]:
path = ''

In [5]:
path = os.getcwd()
parent_path = os.path.abspath(os.path.join(path, os.pardir))
dataset_path = os.path.join(parent_path, 'dataset')

In [6]:
dir_list = os.listdir(dataset_path)

In [7]:
csv_list = []

for filename in dir_list:
    if filename.endswith('.csv'):
        csv_list.append(filename)

In [8]:
csv_list

['SDwarnings_10_09to06_16.csv',
 'BTSCountryCodes.csv',
 'SDamerican_deaths_abroad_10_09_to_06_16.csv',
 'continents2.csv',
 'BTSOriginUS_10_09_to_06_16.csv']

In [9]:
type_converter_dict = {'int64': 'integer',
        'float64': 'real',
        'object': 'character varying', 
        'bool': 'boolean',
        'id': 'serial'}

In [10]:
createSQL = ""

In [13]:
for csv in csv_list:
    #print('CSV: ' + csv)
    file_path = dataset_path + '/' + csv
    df = pd.read_csv(file_path)

    different_type = []
    createSQL = "CREATE TABLE "
    createSQL = createSQL + (schema + "." + csv.split('.')[0]).replace(" ", "")
    createSQL = createSQL + "\n(\n"

    for column in df.columns:
        column_name = ''.join(letter for letter in column if letter.isalnum())
        if column_name == "Unnamed0":
            column_name = "id"
        createSQL = createSQL + column_name + " "
        #DEBUG print('column_type:', df[column].dtypes)
        #DEBUG print('type sql column: ', type_converter_dict[str(df[column].dtypes)])
        createSQL = createSQL + type_converter_dict[str(df[column].dtypes)] + ",\n"
    
    createSQL = createSQL[:-2]


    createSQL = createSQL + "\n);\n\n"
    f = open("create_table.sql", "a")
    f.write(createSQL)
    f.write('')
    f.close()